/* Gallery Styles */
.gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.slider-container {
  position: relative;
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
}

.slider-container img {
  width: 100%;
  display: none; /* Initially, all images are hidden */
  transition: opacity 0.5s;
}

.slider-container img.active {
  display: block;
  opacity: 1;
}

.slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-nav button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
